* {
    color:#fff;
}
body{
    background: #2C3E50;
}
.navbar{
    margin: 0 !important;
    padding: 0 !important;
}
.loginStranica {
    background: #2C3E50;
    width:100%;
    height:100%;
}

 .loginStranica > .loginProzor {
 
     width:500px;
     min-height:500px;
     max-height:auto;
     border: 4px solid #BF55EC;
     position:absolute;
     left: 50%;
     right: 50%;
     transform:translateX(-50%);
     margin-top:150px;   
     padding:50px;
     text-align:center;
     border-radius:20px;
 }
#username {
    background:#BF55EC;
}
#pwd {
    background:#BF55EC;
}
#tekst {
    color:#BE90D4;
}
#dugmeLog {
    background:#BE90D4;

}

#regProz {
  border: 4px solid #87D37C;

}
#reg {
    color: #87D37C;
}
#dugmeReg {
    background:#87D37C;
}
.boja {
    background: #C8F7C5;
}
.podforumiSekcija{
    padding:30px;
    margin-top:20px;
    border: 4px solid green;
    color: green;
    border-radius:20px;
}

.podforum{
   
    padding: 20px;
    margin-top:20px;
    border: 4px solid green;
    background: #87D37C;
    text-align:center;
    border-radius:20px;
    color:green;
}

.bojica {

    background: #BE90D4;
}

.dugmePodforum {

   
    border: none;
    padding: 20px 10px;
   
   
}
.dug {
     border: 2px solid ;
     border-radius:10px;
     display: inline-block;
     color:  green;
     text-decoration-line:initial;
     background:#b9ef30;
}
#tekstic {
    text-align:center;
    padding:20px;
    color: aquamarine;
    height:50px;
    
}
.unutra {
    color:green;
}

.prikazPodforuma {
    border: 4px solid #FDC5F5;
    border-radius:20px;
    margin-top:20px;
    margin-bottom:20px;
    padding:20px;
    text-align:center;

   
    background:#BE90D4;
    box-shadow:
        0 0 60px 3px #fff,  /* inner white */
        0 0 100px 9px #f0f; /* middle magenta */
       
    
}

.prikazTema {
   
    border-radius:20px;
    margin-top:100px;
    margin-bottom:100px;
    margin-left:10px;
    padding:20px;
    background:#FDC5F5;
    width:300px;
    height:300px;

    box-shadow:
        0 0 60px 3px #fff,  /* inner white */
        0 0 100px 4px #f0f, /* middle magenta */
        0 0 140px 9px #0ff; /* outer cyan */
}

.dugT {
    border: 2px solid ;
     border-radius:10px;
     display: inline-block;
     color: #d721c8;
     text-decoration-line:initial;
     background:#f997fa;
     height:50px;
     
}
.nazivPodf {
    color:#FDC5F5;
}

.nazivTe {
    color:#c661db;
}

.nazivT {

    color:#FDC5F5;
}
.duT {
    background:#FDC5F5;
    color:#b232cb;
    border:2px solid #BF55EC;
}

.unosKomentar {

    height:200px;
    width:500px;
    background:#C8F7C5;
    color: #000000;
    font-weight: bolder;
    margin-left:1400px;
    border-radius:20px;
     
}

.dugKomentar {
    
    background:#a7f2c0;
    color:black;
    border: #8efbc6 solid 2px;
     margin-left:1400px;
     margin-top:10px;
      box-shadow:
        0 0 100px 25px aquamarine;  /* inner white */
}

.prikazKomentara {
        
    border-radius:20px;
    margin-top: 40px;
    padding:20px;
    box-shadow:
        0 0 100px 4px aquamarine;  /* inner white */

     width:750px;
     
}

.stilizovanjePodkomentara {
    border: 2px solid #ffd800;
    border-radius:50px;
    margin:20px;
    padding:40px;
    height:200px;
    width:370px;
}

.inputPodkomentar {
    
    border: 5px solid #73937C;
    border-radius: 20px;
    color: green;
    height:140px;
    width: 540px;
    background: #c9e7d2;
    margin-top:20px;
}

.stil {
    text-align:center;
    
}

.stil1 {
    border: 2px solid green;
    border-radius:20px;
    box-shadow:
        0 0 50px 2px aquamarine;
    height:200px;
    width:540px;
    padding:20px;
}

.ukupno {
    
    border-radius:20px;
    text-align:center;
    color: black;
    
    color: green;
    background: linear-gradient(to right, #00a9e0 40%,
              #009e54 100%);
    box-shadow:
        0 0 100px 4px #57c9ee;  

}

.txt {
    color: #181779;
}
.dugmad {
    margin-left:400px;

}
.dugme1 {
    background: linear-gradient(to right, #00a9e0 20%, #fde92e 80%);
    
}
.dugme2 {
    background: linear-gradient(to right, #00a9e0 20%,#fde92e 80%);
}
.dugme3 {
    background: linear-gradient(to right, #00a9e0 20%,#fde92e 80%);
    
}
.dugme4 {
    background: linear-gradient(to right, #00a9e0 30%,#FDC5F5 70%);
}
.dugme5 {
   background: linear-gradient(to right, #00a9e0 20%,#FDC5F5 80%);
}

.poravnaj {
    margin-left:500px;
    text-decoration:underline;
    color: aquamarine;
}

.stilizujDugme {
    background:#faf086;
        box-shadow:
        0 0 100px 4px #fde92e;  
    color: black;
}

.poravnaj2 {
    margin-left:20px;
    color:aquamarine;
}
.poravnaj3 {
    margin-left:20px;
    color:#fde92e;
}