* {
    color:#fff;
}
body{
    background: #2C3E50;
}
.navbar{
    margin: 0 !important;
    padding: 0 !important;
}
.loginStranica {
    background: #2C3E50;
    width:100%;
    height:100%;
}

 .loginStranica > .loginProzor {
 
     width:500px;
     min-height:500px;
     max-height:auto;
     border: 4px solid #BF55EC;
     position:absolute;
     left: 50%;
     right: 50%;
     transform:translateX(-50%);
     margin-top:150px;   
     padding:50px;
     text-align:center;
     border-radius:20px;
 }
#username {
    background:#BF55EC;
}
#pwd {
    background:#BF55EC;
}
#tekst {
    color:#BE90D4;
}
#dugmeLog {
    background:#BE90D4;

}

#regProz {
  border: 4px solid #87D37C;

}
#reg {
    color: #87D37C;
}
#dugmeReg {
    background:#87D37C;
}
.boja {
    background: #C8F7C5;
}
.podforumiSekcija{
    padding:30px;
    margin-top:20px;
    border: 2px solid pink;
}

.podforum{
    border: 1px solid white;
    padding: 20px;
    margin-top:20px;
}

.bojica {

    background: #BE90D4;
}