


<div class="container">
    <div class="podforumiSekcija" >
        <div class="dugmePodforum">
            <button class="btn btn-default dug" ng-click="OtvoriDodavanjePodforuma()" ng-show="korisnik.uloga == 'Administrator' || korisnik.uloga == 'Moderator'">Dodaj novi podforum</button>
        </div>

        <h1 id="tekstic">Spisak podforuma: </h1>
        <div ng-repeat="podforum in podforumi">
            <a href="#!/podforumi/{{podforum.Naziv}}">
                <div class="podforum" >
                    <h2 class="unutra">{{podforum.Naziv}}</h2>
                    <p class="unutra">{{podforum.Opis}}</p>
                </div>
            </a>
        </div>
       
        
    </div>
    
    
   
</div>