<div class="container-fluid">
    <div class="col-md-4">
        <!--PRETRAZI PODFORUME-->
        <h3> Pretraži podforume</h3>
        <div >
            <input type="text" placeholder="Naslov" ng-model="pretragaPodforuma.naziv" />
            <br>
            <input type="text"  placeholder="Opis" ng-model="pretragaPodforuma.opis" />
            <br>
            <input type="text" placeholder="Moderator" ng-model="pretragaPodforuma.moderator" />
            <br>
            <button class="btn button-success" ng-click="pretraziPodforume(pretragaPodforuma)">Pretraži</button>
        </div>
        <div class="container-fluid">
            <h4 ng-show="rezultatiPretragePodforumi">Podforumi koji zadovoljavaju kriterijume</h4>
            <div class="rezultati" ng-repeat="podforum in rezultatiPretragePodforumi">
                <!--ng repeat-->
                <a href="#!/podforumi/{{podforum.Naziv}}">
                    <div class="rezultat">
                        <h4>{{podforum.Naziv}}</h4>
                        <p>{{podforum.Opis}}</p>
                        <p>{{podforum.OdgovorniModerator}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <!--PRETRAZI TEME-->
        <h3>  Pretraži teme</h3>
        <div class="form-group">
            <input type="text"  placeholder="Naslov" ng-model="pretragaTeme.naslov" />
            <br>
            <input type="text"  placeholder="Sadrzaj" ng-model="pretragaTeme.sadrzaj" />
            <br>
            <input type="text"  placeholder="Autor" ng-model="pretragaTeme.autor" />
            <br>
            <input type="text"  placeholder="Podforum kome pripada" ng-model="pretragaTeme.podforum" />
            <br>
            <button class="btn button-success" ng-click="pretraziTeme(pretragaTeme)">Pretraži</button>
        </div>
        <div class="container-fluid">
            <h4 ng-show="rezultatiPretrageTeme">Teme koje zadovoljavaju kriterijume</h4>
            <div class="rezultati" ng-repeat="tema in rezultatiPretrageTeme">
                <!--ng repeat-->
                <a href="#!/podforumi/{{tema.PodforumKomePripada}}/{{tema.Naslov}}">
                    <div class="rezultat">
                        <h4>{{tema.PodforumKomePripada}} - {{tema.Naslov}}</h4>
                        <p>{{tema.Tip}}</p>
                        <p>{{tema.Autor}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <!--PRETRAZI KORISNIKE-->
        <h3>  Pretraži korisnike</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="KorisnickoIme" ng-model="pretragaKorisnickogImena" />
            <br>
            <button class="btn button-success" ng-click="pretraziKorisnike(pretragaKorisnickogImena)">Pretraži</button>
        </div>

        <div class="container-fluid">
            <h4 ng-show="rezultatiPretrageKorisnika">Rezultati pretrage korisnika</h4>
            <div class="rezultati" ng-repeat="korisnik in rezultatiPretrageKorisnika">
                <!--ng repeat-->
                <a href="#!/profil/{{korisnik.Username}}">
                    <div class="rezultat">
                        <h4>{{korisnik.Ime}} {{korisnik.Prezime}}</h4>
                        <p>{{korisnik.Username}}</p>
                        <p>{{korisnik.Uloga}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>


</div>