<div class="container">
    <div class="prikazTeme">

        
        <p>Naslov teme: {{tema.Naslov}}</p>
        <p>Podforum kome pripada tema: {{podforumKomeTemaPripada}}</p>
        <p>Tip teme: {{tema.Tip}}</p>
        <div class="tema-sadrzaj">
            Sadrzaj:
            <p ng-show="tema.Tip == 'Tekst'">{{tema.Sadrzaj}}</p>
            <a ng-show="tema.Tip == 'Link'" href="{{tema.Sadrzaj}}" target="_blank">{{tema.Sadrzaj}}</a>
            <img class="slika-teme" src="Content/img/teme/{{tema.Sadrzaj}}" alt="" ng-show="tema.Tip == 'Slika'">
        </div>
        <p>Autor teme: {{tema.Autor}}</p>
        <p>Datum kreiranja teme: {{tema.DatumKreiranja}}</p>
        <p>Lajkovi teme: {{tema.PozitivniGlasovi}}</p>
        <p>Dislajkovi teme: {{tema.NegativniGlasovi}}</p>
    </div>
    <div>
    <button class="btn btn-success">Sacuvaj</button>
    <button class="btn btn-warning">Izmeni</button>
    <button class="btn btn-danger">Obrisi</button>
    <button class="btn btn-default btn-circle btn-lg">Lajkuj</button>
    <button class="btn btn-default btn-circle btn-lg">Dislajkuj</button>
    </div>
    <br><br>
    <h4>Komentari </h4>

    <input type="text" ng-model="tekstKomentara"  placeholder="Unesite komentar" class="unosKomentar"><br>
    <button class="btn btn-default dugKomentar" ng-click="DodajKomentarNaTemu(tema.Naslov,podforumKomeTemaPripada,tekstKomentara)">Dodaj novi komentar</button>
    

    <div ng-repeat="komentar in komentari" class="col-md-12">

            <div class="prikazKomentara">
              
                <p>Autor: {{komentar.Autor}}</p>
                <p>Datum kreiranja: {{komentar.DatumKomentara}}</p>
                <p>Tekst: {{komentar.Tekst}}</p>
                <p>Lajkovi: {{komentar.PozitivniGlasovi}}</p>
                <p>Dislajkovi: {{komentar.NegativniGlasovi}}</p>
            </div>
        
    </div>

</div>
