<div class="container">
    <div class="prikazPodforuma">
        
        <h2 class="nazivPodf">Naziv podforuma: {{nazivPodforuma}}</h2>
        <p>Opis: {{podforum.Opis}}</p>
        <p>Moderator: {{podforum.Moderator}}</p>
        <p>Pravila: {{podforum.SpisakPravila}}</p>
    </div>

    <button class="btn btn-default dugT" ng-click="OtvoriStranicuZaDodavanjeTeme()" ng-show="ulogovan">Dodaj novu temu</button>

    <br><br>
        <div ng-repeat="tema in temePodforuma" class="col-md-4">
    
            <a href="#!/podforumi/{{nazivPodforuma}}/{{tema.Naslov}}">

                <div class="prikazTema">
                    <h2 class="nazivTe">{{tema.Naslov}}</h2>
                    <p>Tip: {{tema.Tip}}</p>
                    <p>Autor: {{tema.Autor}}</p>
                </div>
            </a>
</div>
    
</div>

