<div class="container">
    <div class="promenaTipa">
        <h4>Izaberite korisnika kom želite da promenite tip</h4>
        <div  >
            <select class="form-control bojaTipa"  ng-model="korisnikZaPromenu">
                <option class="bojaTipa" ng-repeat="korisnik in korisnici" value="{{korisnik.KorisnickoIme}}">{{ korisnik.KorisnickoIme }}</option>
              
            </select>
        </div>
        <h4>Izaberite tip</h4>
        <div>
            <select class="selekcijaTipa" ng-model="tipKorisnika">
                <option value="Korisnik">Korisnik</option>
                <option value="Moderator">Moderator</option>
                <option value="Administrator">Administrator</option>
            </select>
        </div>
        <br>
        <button class="btn button-success" ng-click="promeniTipKorisniku(korisnikZaPromenu,tipKorisnika)">Promeni tip</button>
    </div>
</div>