<div class="container-fluid">
    <div class="loginStranica">
        <div class="loginProzor">

            <h2 id="tekst"> Posalji poruku za {{primalacPoruke}}</h2>

            <div class="form-group">
                <label>Tekst poruke</label>
                <input type="text" class="form-control" ng-model="tekstPoruke" placeholder="tekst poruke">
            </div>
            
            <button ng-click="posaljiPoruku(tekstPoruke,primalacPoruke)">Posalji poruku</button>

            </div>
        </div>

    </div>
