<div class="container">
    <div ng-repeat="zalba in zalbe">
        <div class="zalba">
            <h3>Zalba na {{zalba.TipEntiteta}} {{zalba.Entitet}}</h3>
            <h4>Autor zalbe: {{zalba.KorisnikKojiJeUlozio}}</h4>
            <h4>Autor entiteta: {{zalba.AutorZaljenogEntiteta}}</h4>
            <h5>Datum: {{zalba.DatumZalbe}}</h5>
            <p>Tekst: {{zalba.Tekst}}</p>

            <button class="btn btn-default" ng-click="odbijZalbu(zalba)">Odbij zalbu</button>
            <button class="btn btn-default" ng-click="upozoriAutoraEntiteta(zalba)">Upozori autora</button>
            <button class="btn btn-default" ng-click="obrisiEntitet(zalba)">Obrisi entitet</button>
        </div>
    </div>
    <div ng-show="zalbe.length == 0"><h1>Trenutno ne postoji ni jedna zalba</h1></div>
</div>