<div class="container-fluid">
    <div class="loginStranica">
        <div class="loginProzor">

            <h2 id="tekst"> Prilozite zalbu na: {{zalbaNaKomentar.tip}} {{zalbaNaKomentar.entitet}}</h2>

            <div class="form-group">
                <label>Tekst poruke</label>
                <input type="text" class="form-control" ng-model="zalbaNaKomentar.tekst" placeholder="Tekst zalbe">
            </div>

            <button ng-click="posaljiZalbuNaKomentar(zalbaNaKomentar)">Posalji zalbu</button>

        </div>
    </div>

</div>
