@{ 
    Layout = null;
}
<html ng-app="forum">
<head>
    <title>Web forum</title>
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/Site.css" type="text/css" />
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default" ng-controller="GlavniKontroler">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#!/podforumi">Web Forum</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-show="ulogovan"><a href="#!/pocetna"><i class="ion ion-android-home"></i> Početna</a></li>
                        <li><a href="#!/podforumi"><i class="ion ion-ios-albums"></i> Podforumi</a></li>
                        <li><a href="#!/pretraga"><i class="ion ion-ios-search-strong"></i> Pretraga</a></li>
                        <li ng-show="korisnik.uloga == 'Administrator'"><a href="#!/promenaTipa"><i class="ion ion-lock-combination"></i> Promena tipa</a></li>
                        <li ng-show="ulogovan"><a href="#!/preporuke"><i class="ion ion-usb"></i> Preporuke</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="!ulogovan"><a href="#!/login">Login</a></li>
                        <li ng-show="!ulogovan"><a href="#!/registracija">Registracija</a></li>
                        <li ng-show="korisnik.uloga == 'Administrator' || korisnik.uloga == 'Moderator'"><a href="#!/zalbe"><i class="ion ion-alert-circled"></i> Žalbe</a></li>
                        <li ng-show="ulogovan"><a href="#!/profil/{{korisnik.username}}"><i class="ion ion-person"></i> {{korisnik.imePrezime}}</a></li>
                        <li ng-show="ulogovan"><a href ng-click="Logout()"><i class="ion ion-log-out"></i> Logout</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    
    <div ng-view></div> 

    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>
    <script src="../../MojaAplikacija/app.js"></script>
    <!--Kontroleri-->
    <script src="../../MojaAplikacija/kontroleri/GlavniKontroler.js"></script>
    <script src="../../MojaAplikacija/kontroleri/AutentifikacijaKontroler.js"></script>
</body>
</html>
