@{ 
    Layout = null;
}
<html ng-app="forum">
<head>
    <title>Web forum</title>
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/Site.css" type="text/css" />
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default" ng-controller="GlavniKontroler">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#!/podforumi">Web Forum</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-show="ulogovan"><a href="#!/pocetna"> Početna</a></li>
                        <li><a href="#!/podforumi"> Podforumi</a></li>
                        <li><a href="#!/pretraga">  Pretraga</a></li>
                        <li ng-show="korisnik.uloga == 'Administrator'"><a href="#!/promenaTipa"> Promena tipa</a></li>
                        <li ng-show="ulogovan"><a href="#!/preporuke"> Preporuke</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="!ulogovan"><a href="#!/login">Login</a></li>
                        <li ng-show="!ulogovan"><a href="#!/registracija">Registracija</a></li>
                        <li ng-show="korisnik.uloga == 'Administrator' || korisnik.uloga == 'Moderator'"><a href="#!/zalbe"> Žalbe</a></li>
                        <li ng-show="ulogovan"><a href="#!/profil/{{korisnik.username}}"> {{korisnik.username}}</a></li>
                        <li ng-show="ulogovan"><a href ng-click="Logout()"> Logout</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    
    <div ng-view></div> 

    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>
    <script src="../../MojaAplikacija/app.js"></script>
    <!--Kontroleri-->
    <script src="../../MojaAplikacija/kontroleri/GlavniKontroler.js"></script>
    <script src="../../MojaAplikacija/kontroleri/AutentifikacijaKontroler.js"></script>
    <script src="../../MojaAplikacija/kontroleri/PocetnaKontroler.js"></script>
    <script src="../../MojaAplikacija/kontroleri/PodforumKontroler.js"></script>
    <script src="../../MojaAplikacija/kontroleri/PodforumiKontroler.js"></script>
    <script src="../../MojaAplikacija/kontroleri/PreporukeKontroler.js"></script>
    <script src="../../MojaAplikacija/kontroleri/PretragaKontroler.js"></script>
    <script src="../../MojaAplikacija/kontroleri/ProfilKontroler.js"></script>
    <script src="../../MojaAplikacija/kontroleri/PromenaTipaKontroler.js"></script>
    <script src="../../MojaAplikacija/kontroleri/TemeKontroler.js"></script>
    <script src="../../MojaAplikacija/kontroleri/ZalbeKontroler.js"></script>
    <script src="../../MojaAplikacija/kontroleri/PorukeKontroler.js"></script>
    <!--Fabrike-->
    <script src="../../MojaAplikacija/fabrike/AutentifikacijaFabrika.js"></script>
    <script src="../../MojaAplikacija/fabrike/KomentariFabrika.js"></script>
    <script src="../../MojaAplikacija/fabrike/PodforumiFabrika.js"></script>
    <script src="../../MojaAplikacija/fabrike/PorukeFabrika.js"></script>
    <script src="../../MojaAplikacija/fabrike/PreporukeFabrika.js"></script>
    <script src="../../MojaAplikacija/fabrike/PretragaFabrika.js"></script>
    <script src="../../MojaAplikacija/fabrike/TemeFabrika.js"></script>
    <script src="../../MojaAplikacija/fabrike/ZalbeFabrika.js"></script>
</body>
</html>
